$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.social-proof {
   &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      font-size: 15px;
      font-family: 'League Spartan', sans-serif;
      line-height: 1.5em;
      background:
         url('./images/bg-pattern-top-desktop.svg'),
         url('./images/bg-pattern-bottom-desktop.svg');
      background-repeat: no-repeat;
      background-position: top left, bottom right;
   }

   &__content {
      max-width: 1000px;
      margin: 20px;
   }

   &__title-container {
      text-align: center;
      margin: 20px 0px;
   }

   &__title {
      color: $very-dark-magenta;
      font-size: 2.5em;
      margin-bottom: 20px;
      font-weight: 700;
      line-height: 0.8;
   }

   &__details {
      color: $dark-grayish-magenta;
      font-weight: 500;
   }

   &__reviews-container {
      display: flex;
      gap: 1em;
      flex-direction: column;
      margin-top: 40px;
   }

   &__review-container {
      background-color: $very-dark-magenta;
      color: $white;
      border-radius: 5px;
      padding: 30px;
   }

   &__profile-container {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
   }

   &__person-img {
      width: 40px;
      border-radius: 100%;
      margin-right: 20px;
   }

   &__person-details {
      display: flex;
      flex-direction: column;
   }

   &__person-status {
      color: $soft-pink;
   }

   &__person-name {
      font-weight: 500;
   }

   &__rating-container {
      background-color: $light-grayish-magenta;
      color: $very-dark-magenta;
      border-radius: 10px;
      margin-bottom: 15px;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
   }

   &__star-container {
      line-height: 0;
   }

   &__star {
      margin: 0px 5px;
   }

   &__rating-details {
      font-weight: 700;
   }
}

@media screen and (min-width: 900px) {
.social-proof {
   &__content {
      display: grid;
      gap: 1em;
      grid-template-columns: 2fr 3fr;
      grid-template-areas: 
         "title rating"
         "review review";
   }

   &__title-container {
      grid-area: title;
      max-width: 300px;
   }

   &__ratings-container {
      grid-area: rating;
   }

   &__reviews-container {
      grid-area: review;
      flex-direction: row;
      align-items: center;
      gap: 25px;
      margin-top: 0px;
   }

   &__rating-container {
      flex-direction: row;
      justify-content: normal;
      gap: 20px;
      max-width: 400px;

      &--2 {
         margin-left: 50px;
      }

      &--3 {
         margin-left: 100px;
      }
   }

   &__review-container {
      &--2 {
         margin-top: 30px;
      }

      &--3 {
         margin-top: 60px;
      }
   }

   &__title-container {
      text-align: left;
   }
}
}

.attribution {
   font-size: 11px;
   text-align: center;
 }
 .attribution a {
   color: hsl(228, 45%, 44%);
 }